.App {
  text-align: center;
}

.App-header h1 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
.App-header h2 {
  font-size: .8rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

nav {
  margin: 3rem 0 2rem;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  vertical-align: middle;
}

nav li a {
  color: #333;
  font-size: .8rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

p {
  font-size: .8rem;
}

.image-feed {
  margin: auto;
  max-width: 90%;
  width: 1150px;
}

.image-wrapper {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

.image-wrapper img {
  width: 100%;
}

.image-description {
  background: rgba(0, 0, 0, 0.28);
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: calc(100% - 2rem - 6px);
  line-height: 31rem;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100% - 2rem);
}

a.middle-link {
  display: block;
  margin: 1rem auto;
}

.projects-wrapper {
  margin: auto;
  max-width: 90%;
  width: 1500px;
}

.projects-wrapper >div .description-wrapper {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 2rem;
  text-align: left;
  vertical-align: top;
  width: 30%;
}

.projects-wrapper >div .description-wrapper h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.projects-wrapper >div .image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

footer {
  padding: 3rem 0;
}

footer span {
  font-size: .8rem;
  margin: 0 1rem;
}

footer .bullet {
  display: inline-block;
  border-radius: 100%;
  background: black;
  width: .2rem;
  height: .2rem;
  vertical-align: middle;
}