ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.App {
  text-align: center;
}
.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: white;
}
.App-header h1 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
.App-header h2 {
  font-size: .8rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

nav {
  background-color: white;
  margin: 3rem 0 2rem;
  position: fixed;
  top: 3.4rem;
  z-index: 1;
  width: 100%;
  padding-bottom: 1rem;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  vertical-align: middle;
}

@media(max-width: 900px) {
  nav li {
    box-shadow: 1px 1px 1px 1px black;
    display: block;
    margin: auto;
    padding: 1rem;
    width: 80%;
  }
}

nav li a {
  color: #333;
  font-size: .8rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

nav li a.active {
  color: #4f92b9;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1rem;
}

blockquote {
  font-weight: bold;
  margin: 2rem 0;
}

img {
  max-width: 100%;
}



/* home specific styles */
ul.image-feed {
  margin: auto;
  max-width: 90%;
  padding: 0;
  padding-top: 10rem;
  overflow: hidden;
  width: 1150px;
}

@media(max-width: 900px) {
  li.image-wrapper {
    min-width: 350px;
  }
}

li.image-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-width: 33%;
  padding: 1rem;
  position: relative;
  vertical-align: top;
  width: 330px;
}


li.image-wrapper img {
  transition: all .4s ease;
  width: 100%;
}

li.image-wrapper img:hover {
  opacity: .7;
}

.image-description {
  background: rgba(0, 0, 0, 0.28);
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: calc(100% - 2rem - 6px);
  line-height: 31rem;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100% - 2rem);
}

.expanded-wrapper {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.expanded-wrapper .expanded-scroller >img {
  display: inline-block;
  margin: 0 2rem;
  vertical-align: top;
  height: 100%;
}
.expanded-wrapper .expanded-scroller {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 70vh;
}

/* projects specific styles */
.projects-wrapper {
  margin: auto;
  max-width: 90%;
  padding-top: 12rem;
  width: 1500px;
}

.projects-wrapper > div .description-wrapper {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 2rem;
  text-align: left;
  vertical-align: top;
  width: 30%;
}
.projects-wrapper > div .description-wrapper h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.projects-wrapper > div .image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
@media(max-width: 900px) {
  .projects-wrapper > div .description-wrapper {
    display: block;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .projects-wrapper >div .description-wrapper p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .projects-wrapper > div .image-wrapper {
    width: 100%;
  }
}

/* portfolio styles */
.portfolio {
  padding-top: 10rem;
}
.portfolio-navbar {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 4rem;
}
.portfolio.selected .portfolio-navbar {
  margin: 0;
  margin-bottom: 3rem;
}
.portfolio.selected .portfolio-navbar li{
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 1.5rem;
}
.portfolio-navbar li {
  cursor: pointer;
  margin:  3rem auto;
}
.portfolio-navbar li:hover {
  opacity: .7;
}
.portfolio-navbar li.active {
  color: #4f92b9;
}
.portfolio .logos {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}
.portfolio .logos .logo-wrapper {
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}
.portfolio .print .print-wrapper {
  margin: 1rem auto;
}
.portfolio .print .print-wrapper img {
  max-height: 690px;
}

/* about me styles */
.about-wrapper {
  padding-top: 11rem;
}
.about-wrapper p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 0 auto 3rem;
  max-width: 800px;
  text-align: left;
}

/* contact page styles */
.contact {
  padding-top: 11rem;
}
.contact ul li h3 {
  display: inline-block;
}
.contact ul li p {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 2rem;
}
.contact form {
  font-size: .8rem;
  margin: auto;
  width: 400px;
}

.contact form fieldset {
  margin: 1rem 0;
}

.contact form div {
  margin: 1rem 0;
  text-align: right;
}

.contact form label {
  vertical-align: top;
  margin-right: 1rem;
}

.contact input, .contact select, .contact textarea {
  padding: .3rem;
  border: solid 1px #c1c1c1;
  border-radius: .2rem;
}

.contact input, .contact textarea {
  background: white;
  color: #333;
}

.contact form .radios label {
  margin-right: .2rem;
  margin-left: 1rem;
}

.contact form textarea {
  vertical-align: top;
}

.contact button {
  color: white;
  cursor: pointer;
  border: none;
  font-size: .9rem;
  padding: 1rem 3rem;
  background: #333;
}

.contact button:hover {
  opacity: .9;
}

.contact .submitted-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  left: 0;
  z-index: 1;
  height: 100px;
  width: 500px;
  margin: auto;
  background: white;
}

.contact .googleMap {
  margin: 2rem auto;
}

.contact .googleMap > *{
  display: inline-block;
  vertical-align: top;
  margin: 0 2rem;
}

.contact .googleMap .map-direction {
  font-size: 1.1rem;
  text-align: left;
}

.contact .googleMap h3 {
  font-weight: bold;
}

.contact .googleMap .my-marker {
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.contact .googleMap .my-marker div {
  border: 2px solid #4f92b9;
  border-radius: 3rem;
  height: 1rem;
  left: -1.5rem;
  position: absolute;
  top: -.3rem;
  width: 1rem;
}

.portfolio {
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

.portfolio table {
  cursor: pointer;
  margin: auto;
  text-align: left;
  width: 100%;
}

.portfolio thead {
  background: blue;
}

.portfolio thead .header-row th {
  color: white;
  padding: .5rem 0 .5rem .5rem;
}

.portfolio th {
  font-weight: 200;
}

.portfolio th:hover {
  opacity: .7;
}

.portfolio td {
  padding: 0.5rem;
}

.portfolio th:nth-of-type(2) {
  max-width: 400px;
}

.portfolio th:first-of-type {
  color: #4f92b9;
}

.portfolio .header-row th {
  color: black;
  font-weight: 600;
}

.portfolio tr:nth-child(even) {
  background-color: #eee;
}

/* footer specific styles */
footer {
  padding: 3rem 0;
}

footer a {
  display: block;
  margin: 0 auto 2rem;
}

footer span {
  font-size: .8rem;
  margin: 0 1rem;
}

footer .bullet {
  display: inline-block;
  border-radius: 100%;
  background: black;
  width: .2rem;
  height: .2rem;
  vertical-align: middle;
}
