.App {
  text-align: center;
}

.App-header {
  background: url('/img/header-bg.jpg') top center;
  background-size: 5%;
}
.App-header h1 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
.App-header h2 {
  font-size: .8rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px blue;
}

nav {
  background-color: white;
  margin: 3rem 0 2rem;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  vertical-align: middle;
}

@media(max-width: 900px) {
  nav li {
    box-shadow: 1px 1px 1px 1px black;
    display: block;
    margin: auto;
    padding: 1rem;
    width: 80%;
  }
}

nav li a {
  color: #333;
  font-size: .8rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

nav li a.active {
  color: #ff9191;
}

body {
  background: url('/img/bg-gradient.png') top center;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: .8rem;
}

img {
  max-width: 100%;
}



/* home specific styles */
ul.image-feed {
  margin: auto;
  max-width: 90%;
  padding: 0;
  width: 1150px;
}
@media(max-width: 900px) {
  li.image-wrapper {
    min-width: 350px;
  }
}

li.image-wrapper {
  background: linear-gradient(#ff00eb, red);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 20%;
}

li.image-wrapper figure {
  background: white;
  border: solid 1px #eee;
  box-shadow: 2px 2px 3px 0px black;
  margin: 1rem;
  padding: 1rem;
}

li.image-wrapper img {
  width: 100%;
}

.image-description {
  background: rgba(0, 0, 0, 0.28);
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: calc(100% - 2rem - 6px);
  line-height: 31rem;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100% - 2rem);
}

a.middle-link {
  display: block;
  margin: 1rem auto;
}



/* projects specific styles */
.projects-wrapper {
  margin: auto;
  max-width: 90%;
  width: 1500px;
}

.projects-wrapper > div .description-wrapper {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 2rem;
  text-align: left;
  vertical-align: top;
  width: 30%;
}
.projects-wrapper > div .description-wrapper h2 {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.projects-wrapper > div .image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
@media(max-width: 900px) {
  .projects-wrapper > div .description-wrapper {
    display: block;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .projects-wrapper >div .description-wrapper p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .projects-wrapper > div .image-wrapper {
    width: 100%;
  }
}



/* about me styles */
.about-wrapper dl {
  border: solid 1px black;
  margin: auto;
  padding: 2rem 2rem 3rem 2rem;
  text-align: left;
  width: 400px;
}

.about-wrapper dt {
  font-weight: bold;
  margin-top: 1rem;
}

.about-wrapper ul {
  margin: auto;
  width: 300px;
}

.about-wrapper ul li {
  margin: auto;
  text-align: left;
  width: fit-content;
}

.about-wrapper ul:first-of-type {
  color: #11fbff;
  background: url('/img/unicorn-bg.jpg') top center;
  list-style-type: circle;
  background-size: 3rem;
  padding: 2rem;
  font-size: 3rem;
  text-shadow: 1px 1px 1px blue;
}

.about-wrapper ul:last-of-type {
  color: #11fbff;
  background: url('/img/pancake-bg.jpg') top center;
  list-style-type: square;
  background-size: 3rem;
  padding: 2rem;
  font-size: 3rem;
  text-shadow: 1px 1px 1px blue;
}



/* contact page styles */
.contact form {
  font-size: .8rem;
  margin: auto;
  width: 400px;
}

.contact form fieldset {
  margin: 1rem 0;
}

.contact form div {
  margin: 1rem 0;
  text-align: right;
}

.contact form label {
  vertical-align: top;
  margin-right: 1rem;
}

.contact input, .contact select, .contact textarea {
  padding: .3rem;
  border: solid 1px #c1c1c1;
  border-radius: .2rem;
}

.contact input, .contact textarea {
  background: white;
  color: #333;
}

.contact form .radios label {
  margin-right: .2rem;
  margin-left: 1rem;
}

.contact form textarea {
  vertical-align: top;
}

.contact button {
  color: white;
  cursor: pointer;
  border: none;
  font-size: .9rem;
  padding: 1rem 3rem;
  background: #333;
}

.contact button:hover {
  opacity: .9;
}

.contact .submitted-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  left: 0;
  z-index: 1;
  height: 100px;
  width: 500px;
  margin: auto;
  background: white;
}

/* footer specific styles */
footer {
  padding: 3rem 0;
}

footer span {
  font-size: .8rem;
  margin: 0 1rem;
}

footer .bullet {
  display: inline-block;
  border-radius: 100%;
  background: black;
  width: .2rem;
  height: .2rem;
  vertical-align: middle;
}
